@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-img: url("/img/bg.png");
  --color-light: #fff;
  --color-dark: #000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-light);
  background-image: var(--background-img);
  position: relative;
}

@layer components {
  .deco-bg-lines {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 120px;
      width: 100%;
      /* background: var(--color-dark); */
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      top: 0;
      left: 0;
    }
    &:before {
      content: "";
      position: absolute;
      height: 120px;
      width: 100%;
      /* background: var(--color-dark); */
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      bottom: 0;
      left: 0;
    }
  }
  .deco-gradient {
    background: linear-gradient(95.34deg, #f78601 15.2%, #f75901 94.05%),
      linear-gradient(180deg, #ffa800 0%, rgba(255, 168, 0, 0) 100%);
  }
}
